@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --yellow-light: #ffff93;
  --yellow-dark: #ffff76;
  --blue-light: #84d2ff;
  --blue-dark: #6dc9ff;
  --green-light: #98ff98;
  --green-dark: #82ff82;
  --orange-light: #ffc74f;
  --orange-dark: #ffbd2e;
}

body {
  /* background-color: #111111; */
  background-color: hsl(252, 56%, 5%);
  min-height: 100vh;
  /* background-image: 
  radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
  radial-gradient(circle at 120% 45%, rgb(47, 104, 106) 0, transparent 50%), 
  radial-gradient( at -20% 0%, #15e4ffad 0%, transparent 40%); */

  background-image: 
  /* radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%),  */
  /* radial-gradient(circle at 120% 45%, rgb(47, 104, 106) 0, transparent 50%),  */
  radial-gradient( at -10% 0%, hsla(252, 56%, 53%, 1) 0%, transparent 60%),
  radial-gradient(circle at 130% -70%, rgba(151, 99, 248, 0.39) 0, transparent 50%); 

  /* color: #b55bff; */

}

.shadow {
  filter: drop-shadow(0 1vmin 1vmin black);
  bottom: 2rem;
  left: 25%;
}

.shadow::before {
  content: '';
  position: absolute;
  width: 3vmin;
  height: 0vmin;
  background: black;
  border-radius: 50%;
  transform: rotate(-22deg);
  box-shadow: 0 0 3vmin 1.9vmin rgb(112, 109, 109);
  left: 25%;
  top: 2vmin;
}

.yellow-ball {
  background-image: linear-gradient(145deg, var(--yellow-light) 0%, var(--yellow-dark) 30%);
}

.green-ball {
  background-image: linear-gradient(145deg, var(--green-light) 0%, var(--green-dark) 30%);
}

.blue-ball {
  background-image: linear-gradient(145deg, var(--blue-light) 0%, var(--blue-dark) 30%);
}

.orange-ball {
  background-image: linear-gradient(145deg, var(--orange-light) 0%, var(--orange-dark) 30%);
}

.ticket {
  background-color: rgba(241, 241, 241, 0.062);
  border-radius: 16px;
}

.ball {
  position: absolute;
  background: radial-gradient(circle, at 75% 30%,
    #fff 5px,
    #a16bfe 8%,
    #7327f5 60%,
    #a16bfe 100%
  );
  border-radius: 50%;  
}

.selected-ball {
  background: radial-gradient(circle, at 75% 30%,
    #fff 5px,
    #a16bfe 8%,
    #7327f5 60%,
    #a16bfe 100%
  );
  border-radius: 50%; 
}

.large-ball {
  box-shadow: inset 0 0 20px #fff,
              inset 10px 0 46px #eaf5fc,  
              inset -20px -60px 100px #fde9ea,
              0 0 90px #fff;
  background-color: #8727f5;
}

.medium-ball {
  box-shadow: inset 0 0 5px #fff,
              inset 3px 0 12px #eaf5fc,  
              inset -5px -15px 25px #fde9ea,
              0 0 22px #fff;
}

.small-ball {
  box-shadow: inset 0 0 5px #fff,
              inset 3px 0 12px #eaf5fc,  
              inset -5px -15px 25px #fde9ea,
              0 0 22px #fff;
}

.machine {
  background: radial-gradient(circle, at 75% 30%,
    #fff 5px,
    #a16bfe 8%,
    #7327f5 60%,
    #a16bfe 100%
  );
  border-radius: 50%;  
  box-shadow: inset 0 0 20px #fff,
              inset 10px 0 46px #eaf5fc,  
              inset -20px -50px 100px #fde9ea,
              0 0 40px #fff;
}

.balls-container:nth-child(2) {
  transform: rotateZ(120deg);
}

.balls-container:nth-child(3) {
  transform: rotateZ(240deg);
}
